mixin item
	.item(
		[otherConfig]=`{
			position: 'after'
		}`,
		[style.justifyContent]='drawer.opened ? "flex-start" : "flex-end"',
		[cubTooltip]='item.label',
		[class.item--actived]='selectedItem === item.value',
		[class.item--disabled]='item?.disabled',
		(click)='item.command()')
		i([class]='item.icon')
		+if('drawer.opened')
			h5.label
				| {{ item.label }}

cub-drawer-container
	cub-drawer(
		#drawer,
		width='250px',
		minimumWidth='64px',
		[resizable]='false',
		[(opened)]='isDrawerOpen')
		.side-bar
			.flex.layout-column.layout-align-start-center.layout-gap-4
				+for('item of directionItems; track item')
					+item
			.flex.layout-column.layout-align-end-center.layout-gap-4
				+for('item of items; track item')
					+item
	cub-drawer-content
		router-outlet
